@import '../helpers/_mixins';
.play-button {
    @include rounded-with-borders(30vh);
	box-shadow: 0px 5px 10px $shadow;
	background-image: url('../../images/play.png');
	background-size: 50%;
	background-repeat: no-repeat; 
	background-position: center;
	outline: transparent;
	background-color: $secondary;
	max-width: 30vw;
	max-height: 30vw;
}

.play-button:hover {
    background-color: $tertiary;
}

.play-button:active {
    box-shadow: 0px 3px 10px $shadow;
}