@mixin instant-on-time {
	max-width: 150px;
	min-width: 50px;
	width: 25vw;
}

.process {
	@include instant-on-time();
	background-color: $primary;
}

.override {
	@include instant-on-time();
	background-color: red;
}