@mixin instant-on-time {
	width: 100%;
	min-width: 100px;
	width: 25vw;
}

.process {
	@include instant-on-time();
	background-color: $primary;
}

.override {
	@include instant-on-time();
	background-color: red;
}